$width: 793.700787402px;
$height: 1118.519685039px;

$green: #9FCA44;
$blue: #58A2C9;
$orange: #f90;
$gray: #999;

$foreColor: $orange;
$urlColor: $blue;

@font-face {
  font-family: "Segoe UI Light";
  src: url(SEGOEUIL.ttf) format("truetype");
}

body {
  $width: $width;
  $height: $height;
  $margin: 40px;

  width: $width - 2 * $margin;
  height: $height - 2 * $margin;
  padding: $margin;
  //border: solid 1px lighten($gray, 20%);
  margin: 0;
  font-family: 'Segoe UI Light';

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
  .identity {
    display: inline-flex;
    flex-direction: column;

    .row {
      &:first-child {
        padding-bottom: 10px;
        border-bottom: solid 2px $foreColor;
        font-size: 30px;
      }
      &:last-child {
        position: relative;
        top: -13px;

      }

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      margin-left: 5px;
      font-weight: bold;
    }
    .job {
      background-color: #fff;
      margin: 0 50px;
      padding: 0 10px;
      color: $gray;
    }
  }

  .contacts {
    text-align: right;

    > *  {
      display: flex;
      justify-content: flex-end;
      color: $gray;
      font-size: 12px;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      margin-left: 5px;
    }
    i {
      color: $foreColor;
    }
  }

}


.container {
  display: flex;
  .left, .right {
    width: 50%;
  }
}

.timeline {
  width: 100%;

  .row {
    position: relative;
    width: 100%;
    display: flex;

    $padding: 30px;

    $arrowSize: 10px;

    .left, .right {
      position: relative;
      width: 50%;
      min-height: 100px;
      margin: 5px;
    }
    .left {
      background: red;
      margin-right: $padding;
      &:after {
        position: absolute;
        content: '';
        top: calc(50% - #{$arrowSize});
        right: -2 * $arrowSize;
        border-top: solid $arrowSize transparent;
        border-left: solid $arrowSize red;
        border-bottom: solid $arrowSize transparent;
        border-right: solid $arrowSize transparent;
      }
    }

    .right {
      background: blue;
      margin-left: $padding;

      &:after {
        position: absolute;
        content: '';
        top: calc(50% - #{$arrowSize});
        left: -2 * $arrowSize;
        border-top: solid $arrowSize transparent;
        border-left: solid $arrowSize transparent;
        border-bottom: solid $arrowSize transparent;
        border-right: solid $arrowSize blue;
      }
    }

    .line {
      $w: 2px;
      position: relative;
      width: $w;
      min-height: 100px;
      background: cyan;

      &:first-child {
        margin-left: calc(50% - #{$w / 2});
      }
      &:last-child {
        margin-right: calc(50% - #{$w / 2});
      }

      &.circle {
        $s: $padding;

        &:before {
          position: absolute;
          z-index: 2;
          content: '';
          top: calc(50% - #{$s / 2});
          left: -$s / 2 + $w / 2;
          width: $s;
          height: $s;
          border-radius: $s;
          background: cyan;
        }
      }
    }
  }

}


.part {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .part-icon {
    color: $foreColor;
    border-radius: 40px;
    border: solid 2px $foreColor;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .part-title {
    color: $foreColor;
    text-align: center;
    margin-top: 5px;
  }
}

.skills {
  .skills-group {
    margin-top: 10px;
    .skills-group-title {
      text-align: center;
      font-weight: bold;
      color: $foreColor;
      margin-bottom: 10px;
    }
    .skills-group-skills {
      .skill {
        display: flex;
        font-size: 14px;
        justify-content: flex-end;
        align-items: baseline;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }

        .info {
          margin-right: 10px;
          .skill-title {
            text-align: right;
            font-weight: bold;
          }
          .skill-opts {
            display: flex;
            justify-content: space-around;
            &.one {
              justify-content: flex-end;
              max-width: none;
            }
            color: $gray;
            flex-wrap: wrap;
            max-width: $width / 5;
            font-size: 12px;

            div {
              margin-right: 5px;
              display: inline-flex;
              align-items: center;

              i {
                color: lighten($gray, 10%);
                font-size: 10px;
                margin-right: 3px;
              }
            }
          }
        }
        .level {
          color: lighten($foreColor, 40%);
          font-size: 8px;
          i {
            margin: 0 2px;
          }
          .valued {
            color: $foreColor;
          }
        }
      }
    }
  }
}

.recreation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .hobby {
    position: relative;
    margin: 0 7px;
    &:nth-child(even){
      top: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 80px;
      height: 80px;
      border: solid 1px lighten($gray, 20%);
      color: $foreColor;
      border-radius: 40px;
      font-size: 30px;
    }

    .line {
      width: 1px;
      height: 80px;
      background: lighten($gray, 20%);
    }

    .name {
      color: $foreColor;
      display: inline;
      white-space: nowrap;
      font-size: 12px;
    }
  }
}

ul.items {
  padding: 0;
  list-style: none;
  li.item {
    $s: 10px;
    position: relative;
    border-left: solid 2px $foreColor;
    padding-left: 2 * $s;
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: -$s / 2 - 3px;
      border-radius: $s;
      width: $s;
      height: $s;
      background: $foreColor;
      border: solid 2px #fff;
    }

    .item-title, .item-date {
      position: relative;
      top: -5px;
      font-weight: bold;
      margin-bottom: 2px;
      font-size: 14px;
    }
    .item-date  {
      margin-bottom: 0;
    }
    .item-text {
      font-size: 12px;
    }
    .item-techs {
      color: $green;
      font-size: 12px;
      div {
        display: inline-flex;
        align-items: center;
        .sep {
          display: inline-flex;
          color: lighten($foreColor, 15%);
          font-size: 10px;
          margin: 0 3px;
          justify-content: center;
          align-items: center;
        }
        .text {
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .item-url {
      display: inline-flex;
      align-items: center;
      color: $urlColor;
      font-size: 12px;
      i {
        margin-right: 3px;
      }
      text-decoration: underline;
    }
  }
}