/**
 *	main.css
 */
/*
 	font-family: monospace;
@import url(http://fonts.googleapis.com/css?family=Sofadi+One);
	font-family: 'Sofadi One', cursive;
@import url(http://fonts.googleapis.com/css?family=Iceland);
 	font-family: 'Iceland', cursive;
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

	*/
@import url(./icons.css);

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(./fonts/CabinSketch.woff) format('woff');
}

 body {
 	background-color: #222;
 	color: white;
 	font-family: 'Cabin Sketch', cursive;
 	background-image: url(./img/grey_wash_wall.png);

 }

	*, *:after, *:before {
		-webkit-transition: all 0.5s ease;
		   -moz-transition: all 0.5s ease;
		    -ms-transition: all 0.5s ease;
		     -o-transition: all 0.5s ease;
		        transition: all 0.5s ease;
	}
	

/*------------------------*/
/* ui global components
/*------------------------*/
	.button {
		text-align: center;
		border: solid 1px transparent;
		cursor: pointer;

		padding-top: 1px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border-radius: 3px;

		-webkit-transition: none;
		   -moz-transition: none;
		    -ms-transition: none;
		     -o-transition: none;
		        transition: none;
	}
		.button:hover {
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.39) 0%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 73%, rgba(255,255,255,0.39) 99%, rgba(255,255,255,0.39) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.39)), color-stop(24%,rgba(255,255,255,0)), color-stop(73%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0.39)), color-stop(100%,rgba(255,255,255,0.39))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ffffff', endColorstr='#63ffffff',GradientType=0 ); /* IE6-8 */
		}

		.button:active {
			padding-top: 2px;
			border: solid 1px transparent;
			-moz-box-shadow: inset 0px 0px 7px 0px #111;
			-webkit-box-shadow: inset 0px 0px 7px 0px #111;
			-o-box-shadow: inset 0px 0px 7px 0px #111;
			box-shadow: inset 0px 0px 7px 0px #111;
			background: none;
		}

		.button.medium {
			height: 26px;
			font-size: 20px;
			text-shadow: 1px 1px 2px #000;
		}


	.modal {
		z-index: 9999;
		position: fixed;
		width: 600px;
		height: 500px;
		overflow: hidden;
		border-radius: 4px;
		border: solid 1px #777;
		-moz-box-shadow: 0px 0px 10px 1px #222;
		-webkit-box-shadow: 0px 0px 10px 1px #222;
		-o-box-shadow: 0px 0px 10px 1px #222;
		box-shadow: 0px 0px 10px 1px #222;
		opacity: 0.98;
		display: none;
	}
		.modal > #title {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 20px;
			font-size: 20px;
			background-image: url(./img/wood.jpg);
			padding: 5px;
			text-shadow: 1px 1px 2px #000;
			border-bottom: solid 1px #444;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
			.modal > #closeButton {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				width: 30px;
				padding-top: 5px;
				height: 22px;
				font-size: 15px;
			}
				.modal > #closeButton:active {
					padding-top: 6px;
				}

		.modal > #body {
			border-top: solid 1px #aaa;
			position: absolute;
			top: 31px;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url(./img/grey_wash_wall.png);
			overflow: overlay;
		}


/*------------------------*/
/* ui game components
/*------------------------*/

 	#options {
 		position: fixed;
 		left: -250px;
 		right: 0;
 		top: 0;
 		bottom: 40px;
 		width: 250px;
		border: solid 1px rgba(0, 0, 0, 0.2);
 		border-left: none;
 		border-bottom: none;
 		border-top: none;
 		background: rgba(255, 255, 255, 0.2);

 		
 	}
 		#options[open] {
 			border: solid 1px rgba(0, 0, 0, 0.3);
 			border-left: none;
			border-bottom: none;
			border-top: none;
 			left: 0;
 			-moz-box-shadow: 0px 0px 10px 0px #656565;
			-webkit-box-shadow: 0px 0px 10px 0px #656565;
			-o-box-shadow: 0px 0px 10px 0px #656565;
			box-shadow: 0px 0px 10px 0px #656565;
 		}

 	#state {
 		z-index: 2;
 		position: fixed;
 		bottom: 0;
 		left: 0;
 		right: 0;
 		height: 40px;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.39) 0%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 73%, rgba(255,255,255,0.39) 99%, rgba(255,255,255,0.39) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.39)), color-stop(24%,rgba(255,255,255,0)), color-stop(73%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0.39)), color-stop(100%,rgba(255,255,255,0.39))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ffffff', endColorstr='#63ffffff',GradientType=0 ); /* IE6-8 */

		-moz-box-shadow: 0px 0px 10px 0px #222;
		-webkit-box-shadow: 0px 0px 10px 0px #222;
		-o-box-shadow: 0px 0px 10px 0px #222;
		box-shadow: 0px 0px 10px 0px #222;

 	}
 		body[blur] #state {
 			filter: blur(2px);
	        -webkit-filter: blur(2px);
	        -moz-filter: blur(2px);
	        -o-filter: blur(2px);
	        -ms-filter: blur(2px);
 		}

 		#state #background {
 			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: url(./img/wood.jpg);
 		}

 		#state #settingsButton, #state #muteButton {
 			float: left;
 			padding: 5px;
 		}


 		.label {
 			float: left;
 			font-size: 20px;
 			color: #eee;
 			text-shadow: 1px 1px 0 #333;
 			padding: 3px;
 			padding-left: 10px;
 			padding-right: 10px;
 			border-radius: 5px;
 			height: 22px;
 			overflow: hidden;
 			margin: 5px;
 			border: solid 1px #bbb;
 			border-top-color: #888;
 			border-left-color: #888;
 			-moz-box-shadow: inset 0px 0px 7px 0px #111;
			-webkit-box-shadow: inset 0px 0px 7px 0px #111;
			-o-box-shadow: inset 0px 0px 7px 0px #111;
			box-shadow: inset 0px 0px 7px 0px #111;
			background-image: url(./img/grey_wash_wall.png);
			width: 200px;
 		}
		
		

 		#cell {
			background-image: url(./img/wood.jpg);
 			position: fixed;
			bottom: -220px;
			left: 20px;
			height: 250px;
			width: 250px;
			border-radius: 250px;
			
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.39) 0%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 73%, rgba(255,255,255,0.39) 99%, rgba(255,255,255,0.39) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.39)), color-stop(24%,rgba(255,255,255,0)), color-stop(73%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0.39)), color-stop(100%,rgba(255,255,255,0.39))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0.39) 0%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 73%,rgba(255,255,255,0.39) 99%,rgba(255,255,255,0.39) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ffffff', endColorstr='#63ffffff',GradientType=0 ); /* IE6-8 */

			-moz-box-shadow: 0px 0px 10px 0px #222;
			-webkit-box-shadow: 0px 0px 10px 0px #222;
			-o-box-shadow: 0px 0px 10px 0px #222;
			box-shadow: 0px 0px 10px 0px #222;

 		}	
 			body[game=started] #cell, body[game=started] #cellBG {
				bottom: -50px;
 			}

 			body[blur] #cell {
	 			filter: blur(2px);
		        -webkit-filter: blur(2px);
		        -moz-filter: blur(2px);
		        -o-filter: blur(2px);
		        -ms-filter: blur(2px);
		        
	 		}

	 		#cell #cycle {
	 			position: absolute;
	 			top: 50px;
	 			left: 30px;
 				text-shadow: 1px 1px 0 #222;
	 		}
				#cell #cycle #playButton {
					position: absolute;
					top: 0px;
 					text-shadow: 1px 1px 0 #222;
 					cursor: pointer;
 					-webkit-transition: none;
					   -moz-transition: none;
					    -ms-transition: none;
					     -o-transition: none;
					        transition: none;
				}
					#cell #cycle #playButton:hover {
						color: lime;
					}

	 			#cell #cycle #cycleNumber {
	 				position: absolute;
					top: -10px;
					left: 20px;
					width: 130px;
					height: 20px;
					font-size: 15px;
					height: 15px;
	 			}


 			#cell .property {
	 			position: absolute;
				font-size: 20px;
	 			color: #333;
 				text-shadow: 1px 1px 0 #eee;
 			}

	 			#cell #adn {
	 				bottom: 100px;
	 				left: 10px;
	 				width: 223px;
	 			}

				#cell #life {
					bottom: 125px;
					left: 12px;
	 				width: 221px;
				}	 			

				#cell #energy {
					bottom: 150px;
	 				width: 219px;
					left: 14px;
				}
					#cell #adn #levelQty {
						width: 183px;
					}
					#cell #life #levelQty {
						width: 165px;
					}
					#cell #energy #levelQty {
						width: 163px;
					}


					#cell .property > * {
						float: left;
					}
					#cell .property #caption {
 					}

 					#cell .property #levelQty {
 						position: relative;
 						margin-top: 8px;
 						height: 10px;
						margin-left: 7px;
						background: #5C6054;
						-moz-box-shadow: inset 0px 0px 7px 0px #111;
						-webkit-box-shadow: inset 0px 0px 7px 0px #111;
						-o-box-shadow: inset 0px 0px 7px 0px #111;
						box-shadow: inset 0px 0px 7px 0px #111;
						border-radius: 5px;
						overflow: hidden;
 					}
 						#cell .property #regen {
							position: absolute;
							top: 8px;
							right: -4px;
							font-size: 10px;
							font-weight: bold;
 						}

						#cell .property #levelQty #currency {
							z-index: 3;
							position: absolute;
							top: -2px;
							left: 50px;
							font-size: 13px;
							color: white;
							text-shadow: none;
						}

 						#cell .property #levelQty #value {
 							position: absolute;
 							top: 0px;
 							left: 0;
 							height: 10px;
 							border-radius: 5px;
 						}

	 						#cell .property #levelQty #value[level=low] {
								background: rgb(255,146,99); /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTI2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjkyNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  rgba(255,146,99,1) 0%, rgba(255,0,0,1) 50%, rgba(255,146,99,1) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,146,99,1)), color-stop(50%,rgba(255,0,0,1)), color-stop(100%,rgba(255,146,99,1))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(255,146,99,1) 0%,rgba(255,0,0,1) 50%,rgba(255,146,99,1) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(255,146,99,1) 0%,rgba(255,0,0,1) 50%,rgba(255,146,99,1) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(255,146,99,1) 0%,rgba(255,0,0,1) 50%,rgba(255,146,99,1) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(255,146,99,1) 0%,rgba(255,0,0,1) 50%,rgba(255,146,99,1) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9263', endColorstr='#ff9263',GradientType=0 ); /* IE6-8 */

	 						}
 						
	 						#cell .property #levelQty #value[level=middle] {
								background: rgb(255,205,99); /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2Q2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmOTQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNkNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  rgba(255,205,99,1) 0%, rgba(255,148,0,1) 50%, rgba(255,205,99,1) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,205,99,1)), color-stop(50%,rgba(255,148,0,1)), color-stop(100%,rgba(255,205,99,1))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(255,205,99,1) 0%,rgba(255,148,0,1) 50%,rgba(255,205,99,1) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(255,205,99,1) 0%,rgba(255,148,0,1) 50%,rgba(255,205,99,1) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(255,205,99,1) 0%,rgba(255,148,0,1) 50%,rgba(255,205,99,1) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(255,205,99,1) 0%,rgba(255,148,0,1) 50%,rgba(255,205,99,1) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd63', endColorstr='#ffcd63',GradientType=0 ); /* IE6-8 */
	 						}

	 						#cell .property #levelQty #value[level=high] {
								background: rgb(145,226,83); /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxZTI1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNlYjIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MWUyNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  rgba(145,226,83,1) 0%, rgba(62,178,0,1) 50%, rgba(145,226,83,1) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,226,83,1)), color-stop(50%,rgba(62,178,0,1)), color-stop(100%,rgba(145,226,83,1))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(145,226,83,1) 0%,rgba(62,178,0,1) 50%,rgba(145,226,83,1) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(145,226,83,1) 0%,rgba(62,178,0,1) 50%,rgba(145,226,83,1) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(145,226,83,1) 0%,rgba(62,178,0,1) 50%,rgba(145,226,83,1) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(145,226,83,1) 0%,rgba(62,178,0,1) 50%,rgba(145,226,83,1) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e253', endColorstr='#91e253',GradientType=0 ); /* IE6-8 */

	 						}
			#cellBG {
				background-image: url(./img/wood.jpg);
				opacity: 0.9;
				
	 			position: fixed;
				bottom: -220px;
				left: 20px;
				height: 250px;
				width: 250px;
				border-radius: 250px;
	 		}


	#game {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 40px;	
		overflow: hidden;
	}

		body[blur] #game {
 			filter: blur(2px);
	        -webkit-filter: blur(2px);
	        -moz-filter: blur(2px);
	        -o-filter: blur(2px);
	        -ms-filter: blur(2px);

	        
 		}

		#content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: overlay;
		}

			#start {
				z-index: 4;
				position: absolute;
				left: 0;
				right: 0;
				text-align: center;
				font-size: 50px;
				cursor: pointer;
			}
				#game[started] #start {
					z-index: -1;
					opacity: 0;
				}